:root {
  /* Catppuccin Palette: Macchiato */

  --color-blue:     #8aadf4;
  --color-green:    #a6da95;
  --color-maroon:   #ee99a0; /* pink */
  --color-muave:    #c6a0f6; /* purple */
  --color-orange:   #f5a97f;
  --color-red:      #ed8796;
  --color-sky:      #91d7e3; /* turquoise */
  --color-yellow:   #eed49f;

  --color-text:     #cad3f5;
  --color-overlay0: #6e738d;
  --color-base:     #24273a; /* dark blue */
  --color-mantle:   #1e2030; /* darker blue */
  --color-crust:    #181926; /* very dark blue */
}

/* Simple Tab Groups */
@-moz-document url-prefix("moz-extension://952fc5a2-edd0-41f9-9da0-d4199bda88f0") {
  :root {
    --background-color: var(--color-crust) !important;
    --color-hr: var(--color-base) !important;
    --discarded-text-color: var(--color-overlay0) !important;
    --in-content-border-focus: var(--color-blue) !important;
    --input-background-color: var(--color-base) !important;
    --item-background-color-active-hover: var(--color-base) !important;
    --text-color: var(--color-text) !important;
  }

  * {
    background-color: var(--dark-background-color);
  }

  .input:focus,
  .textarea:focus {
    border-color: var(--color-blue) !important;
  }

  /* TODO: Add the rest of the container colors. */

  *[style="border-color: rgb(55, 173, 255);"] {
    border-color: var(--color-blue) !important;
  }
  *[style="fill: rgb(55, 173, 255);"] {
    fill: var(--color-blue) !important;
  }

  *[style="border-color: rgb(81, 205, 0);"] {
    border-color: var(--color-green) !important;
  }
  *[style="fill: rgb(81, 205, 0);"] {
    fill: var(--color-green) !important;
  }

  *[style="border-color: rgb(255, 159, 0);"] {
    border-color: var(--color-orange) !important;
  }
  *[style="fill: rgb(255, 159, 0);"] {
    fill: var(--color-orange) !important;
  }
}


/***************************************************************************/
/* CUSTOM PAGE STYLES ******************************************************/
/***************************************************************************/

/* Note: This may require injecting the `.theme-dark` class onto the `<body>`
         tag (e.g. via Firemonkey). */
@-moz-document domain(stackoverflow.com),
               domain(superuser.com)
{
  body.unified-theme {
    --theme-background-color: var(--color-mantle) !important;
    --theme-content-background-color: var(--color-base) !important;
    --theme-topbar-background-color: var(--color-mantle) !important;
  }

  body.theme-dark {
    --theme-body-font-color: var(--color-text) !important;
  }
}

@-moz-document domain(startpage.com) {
  /* Header */
  .css-ve33fw {
    background-color: var(--color-crust) !important;
  }

  /* Main Content */
  .layout-web:not(.layout-web--light):not(.layout-web--night):not(.layout-web--air),
  .layout-web:not(.layout-web--light):not(.layout-web--night):not(.layout-web--air) .layout-web__body,
  .w-gl:not(.w-gl--light):not(.w-gl--night):not(.w-gl--air) {
    background-color: var(--color-base) !important;
  }

  /* Result */
  .w-gl:not(.w-gl--light):not(.w-gl--night):not(.w-gl--air) .w-gl__result-title {
    color: var(--color-blue) !important;
  }
  .w-gl:not(.w-gl--light):not(.w-gl--night):not(.w-gl--air) .w-gl__result-title:visited {
    color: var(--color-orange) !important;
  }
  .w-gl:not(.w-gl--light):not(.w-gl--night):not(.w-gl--air) .w-gl__result,
  .w-gl:not(.w-gl--light):not(.w-gl--night):not(.w-gl--air) .w-gl__result-url {
    color: var(--color-text) !important;
  }
}
